body {
  font-family: 'Courier New', monospace;
  font-size: 18px;
  text-align: center;
  background-color: black;
  color: #ffccff;
}

    #introText {
      font-size: 18px;
      margin: 20px auto;
      max-width: 800px;
      padding: 10px;
    }
    #asciiArt {
  font-family: monospace !important;
  color: white;
  white-space: pre;
  text-align: center;
  margin-top: 20px;
}

    #esterno {
      aspect-ratio: 480 / 270;
      width: 100%;
      max-height: 100vh;
      margin: 0 auto;
      display: flex;
    }

    .stack-container {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .stack-container img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;  }

    .stack-container img[src*="Hand"] {
      display: none;
    }
    .stack-container img[src*="Heart"] {
  display: none;
}

    #container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: centecover;
    }

    #startBtn {
      padding: 10px 20px;
      font-size: 18px;
      cursor: pointer;
    }

    #progress {
      font-size: 25px;
      margin-top: 20px;
    }

    #barContainer {
        position: absolute;
         z-index: 2;
      width: 20px;
      height: 100%;
      background: #ccc;
      border-radius: 12px;
      margin: 0;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
    }

    #barFill {
      width: 100%;
      height: 0%;
      background: purple;
      transition: height 0.1s;
    }
